<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.birthdays.dailyNotificationCheck</string>
		<string>remote-notification</string>
	</array>
	<key>CFBundleIconFile</key>
	<string>BirthdaysIcon.png</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Bicyclette-Regular.ttf</string>
		<string>Bicyclette-Black.ttf</string>
		<string>Bicyclette-Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>BirthdaysIcon.png</string>
	</dict>
</dict>
</plist>
